.icon {
  font-size: 130px;
  box-shadow: 2px 3px 5px;
}

.icon:hover {
  box-shadow: #fff 2px 3px 5px;
  transform: scale(1.1);
}

  @media (max-width: 768px) {
   
    .icon {
      font-size: 150px;
    }
  }
  
  @media (max-width: 480px) {
   
    .icon {
      font-size: 180px;
      row-gap: 4rem;
    }
    .ut {
      font-size: 22px;
      line-height: normal;
    }
    .education {
      text-align: center;
    }
    .mern {
      display: none;
    }
  }
