.icon {
    /* Default size */
    font-size: 130px;
  }
  
  @media (max-width: 768px) {
    /* Styles for screens up to 768px */
    .icon {
      font-size: 150px;
    }
  }
  
  @media (max-width: 480px) {
    /* Styles for screens up to 480px */
    .icon {
      font-size: 180px;
    }
  }
  