  .image-icons {
    max-width: 150px;
    height: 5rem;
    padding: 0 20px;
    object-fit: cover;
    color: #fb923c;
    font-size: 48px;
  }

  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    margin-top: 4rem;
  }
  
  .wrapper {
    position: absolute;
    display: flex;
  }
  
  section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
  }
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }
  @media (max-width: 768px) {
   
    .icon {
      font-size: 150px;
    }
    
  }
  
  @media (max-width: 480px) {
   
    .icon {
      font-size: 180px;
      row-gap: 4rem;
    }
    .ut {
      font-size: 22px;
      line-height: normal;
      padding-bottom: 0;
    }
    .education {
      text-align: center;
    }
    #education-section {
      padding: 20 10px;
    }
    .inner {
      margin-top: 1rem;
    }
    .mern {
      display: none;
    }
  }

