.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .title {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    line-height: 1;
  }
  
  @media (max-width: 768px) {

    .home-bubble {
      margin-top: 4rem;
    }

    .title {
      font-size: 40px;
    }
    .home-img {
     display: flex;
     flex-direction: column;
     align-items: center;
    }

    .home-img img {
      width: 100%;
    }
  
    .subtext {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  
    .subtext {
      /* display: none; */
      font-size: 14px;
    }
  }
  